@mixin border($direction, $pixel, $color){
    border-#{$direction}: solid $pixel $color;
}

@mixin fadeIn2s {
    animation: fadeIn; 
    animation-duration: 2s;
}

@mixin fadeIn3s {
    animation: fadeIn; 
    animation-duration: 3s;
}

@mixin fadeIn4s {
    animation: fadeIn; 
    animation-duration: 4s;
}