$back-color: #EEEEEE;

$primary-color: #C46241;
$primary-soft-color: #d27252;
$secondary-color: #377581;
$secondary-soft-color: #507981;

$font-color: #212427;
$line-color: #212427;

$font-family: 'Barlow', 'Montserrat', sans-serif;
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$tittle-font-size: 7rem;
$sub-tittle-font-size: 1.7rem;

$button-res-color: #555;

$alto-bloque-cent: calc(100vh - 10rem);