.menu_works{
    @include border('right', 10px, $line-color);
}

.cont_over{
    overflow-y: auto;
    max-height: calc(100vh - 10rem - 10px);
}

.work{
    font-weight: 200;
    font-size: 3rem;
    margin: 10px 0px;
    text-decoration: none;
    color: $font-color;
    text-transform: uppercase;
    text-align: end;
    @include border('bottom', 10px, $secondary-color);
    &:hover{
        font-weight: 400;
        color: $font-color;
    }
    .material-symbols-outlined{
        display: none;
    }
}

.work_sel{
    font-weight: 700;
    color: $secondary-color;
    &:hover{
        font-weight: 700;
        color: $secondary-color;
    }
    .material-symbols-outlined {
        display: inline;  
    }
}

.b_titulo_w{
    font-size: 10rem;
    font-weight: 600;
    text-transform: uppercase;
}

.det_w{
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 1.8em;
}