.bloque_superior{
    border-top: solid 4px black;
    border-bottom: solid 10px black;
    min-height: 10rem;
}

.bs_cen{
    border-left: solid 3px black;
    border-right: solid 3px black;  
}

.bloque_central{
    border-bottom: solid 10px black;
    min-height: calc(100vh - 10rem);
}

.bc_sup{
    display: block;
    border-bottom: solid 4px black;
    height: 60%;
    background-color: #377581;
}

.bc_social{
    border-left: solid 6px black;
    border-right: solid 8px black;
    a{
        padding-bottom: 20px;
    }
}

.bc_client{
    border-right: solid 3px black;
}

.bc_ppal{
    padding-right: 6.5rem !important;
}

.home_tit{
    font-family: 'Barlow', sans-serif;
    line-height: 1em;
    font-size: 7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: end;
    padding: 8rem 0;
}

.home_tit_front{
    font-size: 0.3em; 
    font-weight: 600;  
    line-height: 4.2rem;
}

.home_com{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: end;
}

.home_tit_com{
    padding-bottom: 6rem;
}

.link_about{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #C46241;
    padding: 0.1rem 0;
    text-align: center;
    text-transform: uppercase;
    display: block;
    position: relative;
    text-decoration: none;
    &:hover{
        font-weight: 700;
        color: #C46241;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;    
        width: 100%;
        height: 0.2em;
        background-color:#C46241;
        opacity: 1;
    }
}